{#
/**
 * @file room_configurations.html.twig
 * Default theme implementation to present Room configurations data.
 *
 * This template is used when viewing Room configurations pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_room_configurations()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('room_configurations') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
