{#
    @file:

    Simple page
#}





{% if page.header %}
<header class="header">
    {{ page.header }}
    </header>
{% endif %}
    <div class="container">

        {{ page.content }}
    </div>

{% if page.footer %}

<footer>
    {{ page.footer }}
</footer>

{% endif %}
