{#
    @file:

    Simple page login page
#}
<div class="page-wrapper register-page">

    <div class="container">

        <div class="register-box">
        {{ page.messages }}

            <div class="row">
                <div class="col-lg-4 col-md-6 register-info">


                        {{ page.sidebar }}



                </div>
                <div class="col-lg-6 col-md-6 register-form">
                     <h2>Student Account Registration</h2>
                        {{ page.content }}
                </div>
            </div>

        </div>

    </div>

</div>







